# Исследование надежности заемщиков

Во второй части проекта вы выполните шаги 3 и 4. Их вручную проверит ревьюер.
Чтобы вам не пришлось писать код заново для шагов 1 и 2, мы добавили авторские решения в ячейки с кодом.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [1]:
import pandas as pd

try:
    data = pd.read_csv('/datasets/data.csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [2]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [4]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [5]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [6]:
data['days_employed'] = data['days_employed'].abs()

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [7]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [8]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5])

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [9]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [10]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5])

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждого типа занятости `income_type`.**

In [11]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [12]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [13]:
data['total_income'] = data['total_income'].astype(int)

### Обработка дубликатов

**Задание 14. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [14]:
data['education'] = data['education'].str.lower()

**Задание 15. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [15]:
data.duplicated().sum()

71

In [16]:
data = data.drop_duplicates()

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [17]:
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [18]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [19]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [20]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [21]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Шаг 3. Исследуйте данные и ответьте на вопросы

#### 3.1 Есть ли зависимость между количеством детей и возвратом кредита в срок?

In [22]:
#создам датафрейм
debt_from_children = pd.DataFrame()
#посчитаю количество
debt_from_children['count_children'] = data.groupby('children')['debt'].count()
#посчитаю сумму
debt_from_children['sum_children'] = data.groupby('children')['debt'].sum()
#найду отношение суммы к количеству и получу таблицу, по которой сделаю вывод
debt_from_children['result_children'] = debt_from_children['sum_children'] / debt_from_children['count_children'] 
debt_from_children.sort_values('children', ascending = False)

          count_children  sum_children  result_children
children
5                      9             0         0.000000
4                     41             4         0.097561
3                    330            27         0.081818
2                   2052           194         0.094542
1                   4808           444         0.092346
0                  14091          1063         0.075438

**Вывод:** Бездетные реже просрачивают оплату по кредиту, чем люди с детьми. С увеличением количества детей, увеличивается и вероятность просрочки платежа, однако клиенты с 3 детьми реже просрачивают, чем с одним.

#### 3.2 Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [23]:
data_pivot = data.pivot_table(index = ['family_status'], columns = 'debt', values = 'gender', aggfunc = 'count')

# посчитаем вероятность задолженности для каждого вида семейного положения
data_pivot['ratio'] = round(data_pivot[1] / (data_pivot[0] + data_pivot[1]), 3)
data_pivot.sort_values('ratio', ascending = False)

debt                       0    1  ratio
family_status
Не женат / не замужем   2523  273  0.098
гражданский брак        3749  385  0.093
женат / замужем        11334  927  0.076
в разводе               1105   84  0.071
вдовец / вдова           888   63  0.066

**Вывод:** Клиенты, которые оформляли отношения официально платят кредиты лучше. Если клиент хоть раз был женат/замужем, то вероятность задолженности по кредиту будет меньше. А также те кто развелись или овдовели чаще платят в срок, чем люди в браке.

#### 3.3 Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [24]:
inc = data.pivot_table(index = 'total_income_category', values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))
def percent(x):
    return "{0:.2%}".format(x)

inc['mean'] = inc['mean'].apply(percent)
inc = inc.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
inc.sort_values(by='Количество записей', ascending=False)

                       Количество записей Среднее по задолжностям
total_income_category
C                                 15921.0                   8.50%
B                                  5014.0                   7.06%
D                                   349.0                   6.02%
A                                    25.0                   8.00%
E                                    22.0                   9.09%

**Вывод:** 
0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'. 

Лушчий средний показатель имеют клиенты с низким доходом.
Объяснить это можно тем, что люди с наименьшими доходами лучше распоряжаются своими средствами и умеют контролировать свой бюджет, чем те, кто зарабатывает немногим больше.

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-info">

    
Люди категрии D имеют лучший показатель, то есть платят в срок.
Самый плохой показатель по задолженностям у категории Е, это люди с наименьшим доходом.
Основную массу клиентской базы как раз составляют люди с доходом средний и выше среднего, в целом показатель по задолженносям у них достаточно высокий. 

В целом вывод, что прямой зависимости есть, но она не очень явная.
</div>
</div>

<div class="alert alert-warning">
<h1> Комментарий ревьюера V3💡</h1>

Ты верно описываешь наблюдаемые доли просрочки. Действительно категория Д самая дисциплинированная. 
    
Но нам нужно взглянуть и на картину в целом. У нас более 20 тысяч наблюдений - это очень большая выборка. Предложенные границы категорий эту выборку разделяют очень плохо. На категории А, Е и Д приходится менее 2% от общего количества, а на группы В и С остальные 98%.
    
Само по себе такое разделение не совсем корректно. Стоит предложить заказчику поменять границы групп, так чтобы получались более равномерные категории.
    
Теперь стоит обратить внимание на группы А и Е, в них у нас по 20 с небольшим наблюдений. Даже один дополнительный просроченный кредит очень сильно исказит долю, так что делать выводы по этим двум группам не стоит совсем. Лучше их просто отбросить.
    
Остаются группы С, В и Д. В группе Д действительно очень низкая доля просрочки, но возможно это тоже связано с количеством клиентов, скорее всего стоит провести дополнительное исследование в этом направлении.
    
Из оставшихся двух групп мы видим, что лучше платят те, кто получает больше (конкретно больше 200 тыс).
    
Еще один вариант решения поставленного вопроса - самостоятельно разбить данные на группы используя другие границы, тогда возможно будет немного другая картина.
    
Кстати в таких задачах, когда нужно оценить долю между группами стоит посчитать долю для всей выборки. Это будет априорная доля, некая отправная точка, с которой можно будет сравнивать остальные расчеты.
    
В случае с уровнем дохода, если мне не изменяет память то для группы С доля просрочки практически совпадает с долей просрочки по всей выборке. То есть до уровня дохода в 200 тыс, вероятность просрочки совпадает с средней по всей выборке.

</div>

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-info">

В таком случае может порекомендовать объединить категории E и D, чтобы не терять показатели этих групп, нам ведь важно понимать как платят группы с низким достатком. Группу А я согласна отбросить, потому как выборка и правда очень маленькая, будет портить картину.
Тогда предлагаю такую категоризацию: 
    
0–60000 — 'низкий';
60001–120000 — 'средний';
120001–200000 — 'выше среднего';
200001–1000000 — 'высокий';
1000001 и выше — 'очень высокий'    
    
И что это значит для нас, что для С совпадает со средней выборкой? 

    
</div>
</div>

<div class="alert alert-success">
<h1> Комментарий ревьюера V4✅</h1>

Хорошее решение. Группу А тоже можно было объединить и оставить категорию только больше 200.
    
Поскольку у нас доля просрочки для клиентов со средним уровнем дохода совпадает с долей просрочки по всей выборке, мы не можем сказать, что средний доход негативно влияет на просрочку.
    
Как ты верно отмечаешь в выводе дальше, все что мы можем сказать, это то, что лучше платят те, кто получает или меньше или больше чем в среднем.

</div>

In [25]:
def replace_income(income):
    try:
        if 0 <= income <= 60000:
            return 'низкий'
        elif 60001 <= income <= 120000:
            return 'средний'
        elif 120001 <= income <= 200000:
            return 'выше среднего'
        elif 200001 <= income <= 1000000:
            return 'высокий'
        elif income >= 1000001:
            return 'очень высокий'
    except:
        pass

In [26]:
data['total_income_category'] = data['total_income'].apply(replace_income)

In [27]:
inc = data.pivot_table(index = 'total_income_category', values='debt', aggfunc = ('mean', lambda X:
                                                                       X.count()))
def percent(x):
    return "{0:.2%}".format(x)

inc['mean'] = inc['mean'].apply(percent)
inc = inc.rename(columns={"<lambda_0>": "Количество записей", "mean": "Среднее по задолжностям"})
inc.sort_values(by='Среднее по задолжностям', ascending=False)

                       Количество записей Среднее по задолжностям
total_income_category
выше среднего                      9096.0                   8.70%
средний                            6395.0                   8.38%
очень высокий                        25.0                   8.00%
высокий                            5014.0                   7.06%
низкий                              801.0                   6.12%

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-info">

Итак, изменив категоризацию мы видим в общем подобную картину. Две категории с доходом 'низкий' и 'высокий' платят лучше всего
    
</div>
</div>

#### 3.4 Как разные цели кредита влияют на его возврат в срок?

In [28]:
debt_from_purpose_category = pd.DataFrame()
debt_from_purpose_category['sum_purpose_category'] = data.groupby('purpose_category')['debt'].sum()
debt_from_purpose_category['count_purpose_category'] = data.groupby('purpose_category')['debt'].count()
debt_from_purpose_category['result_purpose_category'] = debt_from_purpose_category['sum_purpose_category'] / debt_from_purpose_category['count_purpose_category'] 
debt_from_purpose_category.sort_values('result_purpose_category', ascending = False)

,sum_purpose_category,count_purpose_category,result_purpose_category
purpose_category,,,
операции с автомобилем,400,4279,0.093480
получение образования,369,3988,0.092528
проведение свадьбы,183,2313,0.079118
операции с недвижимостью,780,10751,0.072551

**Вывод:** Кредиты на недвижимость просрачивают реже также как и с целью кредита на свадьбу, чаще просрочка у тех кому нужен кредит на авто и образование.

<div class="alert alert-success">
<h1> Комментарий ревьюера✅</h1>

Верно. Кредиты на недвижимость и свадьбу выплачивают лучше.

</div>

#### 3.5 Приведите возможные причины появления пропусков в исходных данных.

*Ответ:* Причинами могут быть ошибки ввода данных, сокрытие информации

<div class="alert alert-success">
<h1> Комментарий ревьюера✅</h1>

Хорошие гипотезы.

</div>

#### 3.6 Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.

*Ответ:* В отличии от медианы среднее значение некорректно характеризует данные, некоторые значения сильно выделяются среди большинства

<div class="alert alert-success">
<h1> Комментарий ревьюера✅</h1>
Все так. Медиана более устойчива к выбросам.

</div>

### Шаг 4: общий вывод.

Cемейный статус влияет на вероятность платежей по кредиту в срок - люди, бывшие в браке чаще плятят в срок чем те, кто не бывали в браке, причем разведенные и овдовевшие платят в срок чаще, чем люди в браке. Чем больше детей, тем чаще платят не в срок, бездетные реже просрачивают оплату. Люди с наименьшими доходами платят в срок с большей вероятностью, возможно это зависит от того, что им нужна хорошая кредитная история и то, что они планируют брать кредиты снова.

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-info">

    
   
Кредиты на недвижимость и свадьбу просрачивают реже, чаще просрочка у тех кому нужен кредит на авто и образование. 
То есть зависимость от цели есть и она чётко прослеживается. Самая "неопасная цель" получеия кредита - это свадьба. "опасная" - недвижимость. 
Тут можно предположить то, что разница в объёмах кредита на эти цели очень большая и есть риски просрчоки.
Люди со средним достатком совершают меньше просрочек чем с низким и высоким достатком. 
Первое можно объяснить нехваткой средств, второе - возможным завышением дохода для получения кредита.

Я работала с данными клиентской базы некого банка. До анализа данных в базе было несколько проблемных точек, вот почему была необходима предобработка данных.
Решение: удаление пропусков, артефактов, замена пропусков медианными значениями, замена типов данных, обработка неявных дубликатов, категоризация данных. 
По итогу с данными удобнее стало работать и делать выводы о зависимости 4 факторов на выплаты заёмщиков.
    
</div>
</div>

<div style="border:solid blue 3px; padding: 20px">
<div class="alert alert-info">
<h1> Вывод </h1>

Я работала с данными клиентской базы некого банка. До анализа данных в базе было несколько проблемных точек, вот почему была необходима предобработка данных.
Решение: удаление пропусков, артефактов, замена пропусков медианными значениями, замена типов данных, обработка неявных дубликатов, категоризация данных. 
По итогу с данными удобнее стало работать и делать выводы о зависимости 4 факторов на выплаты заёмщиков. Я бы рассмотрела ещё один фактор - возраст, думаю это тоже помогло бы составить более точную скоринговую модель.

Итак по каждому фактору, или зависимости, по порядку, чтобы упорядочить анализ.

1. Зависимость между количеством детей и возвратом кредита в срок:
    чем больше детей, тем чаще платят не в срок, бездетные реже просрачивают оплату
2. Зависимость между семейным положением и возвратом кредита в срок: 
    семейный статус влияет на вероятность платежей по кредиту в срок - люди, бывшие в браке чаще плятят в срок чем те, кто не бывали в браке, причем разведенные и овдовевшие платят в срок чаще, чем люди в браке.
3. Зависимость между уровнем дохода и возвратом кредита в срок:
    из данных видно то, что наилучшими платильщиками являют люди из категории дохода 'высокий', а именно те,кто получает больше больше 200 тыс
4. Зависимость от целей кредита и его возвратом в срок:
    кредиты на недвижимость и свадьбу просрачивают реже, чаще просрочка у тех кому нужен кредит на авто и образование, самые дисциплинированные платильщики с целью недвижимость.


</div>
</div>